@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

*,
html {
  scroll-behavior: smooth;
  transition-duration: 0s;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5bb8;
}

body {
  color: #ffffff;
}

._img_ {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

audio {
  color-scheme: dark;
}

button {
  cursor: pointer;
  outline: none;
}

button:focus,
button:focus-visible,
button:active,
button:hover,
button:selected {
  outline: none;
  border: none;
}

h1,
h2 {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  overflow-wrap: break-word;
  font-weight: 900 !important;
}

._912cfm {
  font-feature-settings: "ss02", "ss03";
  font-variation-settings: "opsz" 500;
}

@keyframes heartbeat {
  0% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 #fc2a2a;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 4px #a31300;
  }
  75% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 #f53a3a;
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite;
}
