@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

*,
html {
  scroll-behavior: smooth;
  transition-duration: 0s;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5bb8;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: #ffffff;
}

._img_ {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.profile-image {
  aspect-ratio: 570 / 696;
  background-image: url("https://croozefm.blob.core.windows.net/images/profile-bg-image.png");
  background-size: cover;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

audio {
  color-scheme: dark;
}

button {
  cursor: pointer;
  outline: none;
}

button:focus,
button:focus-visible,
button:active,
button:hover,
button:selected {
  outline: none;
  border: none;
}

h1,
h2 {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  overflow-wrap: break-word;
  font-weight: 900 !important;
  color: #b71c1c;
}

._912cfm {
  font-feature-settings: "ss02", "ss03";
  font-variation-settings: "opsz" 500;
}

@keyframes heartbeat {
  0% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 #fc2a2a;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 4px #a31300;
  }
  75% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 #f53a3a;
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite;
}

@keyframes stream {
  0% {
    width: 0%;
    opacity: 0.5;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0.5;
  }
}

.animate-stream {
  animation: stream 4s ease-in-out infinite;
}
